body {
	background-color: #666666;
}


.subsection{

	font-family: Arial, Helvetica, sans-serif;
	margin: auto;
	width: 80%;
	border: 3px #E82127;
  	padding: 30px;
  	margin-top: 20px;
  	background: #E82127;
  	border-radius: 10px;


}

.likert li {
	float: left;
	list-style-type: none;
	padding: 0px;
}

.likert{
	padding: 0px !important;
}

#title{

	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	margin: auto;
	width: 40%;
	color: #FFFFFF;

}
#link{

	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	margin: auto;
	width: 40%;
	margin-top: 20px;
	color: #FFFFFF;	

}
#imageLink{

  	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	margin: auto;
	width: 40%;
	margin-top: 20px;

}
#submit{

	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	margin: auto;
	width: 40%;
	margin-top: 20px;

}
#footer{

	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	margin: auto;
	width: 40%;
	margin-top: 20px;

}
textarea {
    width: 100%;
    -webkit-box-sizing: border-box;

}
h4{
	color: #FFFFFF;

}
li{
	color: #333333;
}
label{
	color: #333333;
}